doctype html
html
	head
		title NTC
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', href='/static/stylesheets/layout.css')
		link(rel='stylesheet', href='/static/stylesheets/splash.css')
		link(rel='stylesheet', href='/static/stylesheets/styles.min.css')

	body
		div.container
			#navbar			
			.row.text-center
				.center-block.center-me
					.col-sm-12.col-md-12.col-lg-12	
						img(src='/static/images/ntcLogo.png')
					#linebreak.col-sm-4.col-md-4.col-lg-4
					#main-content.col-sm-4.col-md-4.col-lg-4
					#linebreak2.col-sm-4.col-md-4.col-lg-4

		script(src='https://code.jquery.com/jquery-3.1.1.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
		script(src='/static/build/splash.js')
